NEXT_PUBLIC_API_URL=http://localhost:3001/api/v1
NEXT_PUBLIC_SOCKET_URL=http://localhost:3001/match
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_TERMS_VERSION=v0.1-alpha
NEXT_PUBLIC_PRIVACY_VERSION=v0.1-alpha
NEXT_PUBLIC_DEMO_MODE=true
